@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body{
  background-color:#aed9e0; 
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 5% 0;
  margin-left: 45%;
  
}