body{
    padding: 80px 0px 100px 0px;
    background-image: url(https://us.123rf.com/450wm/panychev/panychev1607/panychev160700176/60594128-abstract-polygonal-dark-blue-background-design-template-textured-backdrop-.jpg?ver=6);
    background-size: cover;
    color:white;
    font-family: "Lucida Grande";
    letter-spacing:2px;
    opacity:0.8;
}

*{
    box-sizing: border-box;
}

.container{
    margin:0 auto; 
    text-align: center;
}

h1{
    font-size:44px;
}

p{
    font-size:25px;
    padding-bottom:40px;
}

.lesson {
    float: left;
    width: 33.3%;
  }

.lesson-icon{
  transition:transform .1s;
}

  .lesson-icon:hover {
    transform: scale(1.1);
  }

button{
    opacity:0.9;
}

button:hover {
    opacity:1;
}

.previous{
    float:left;
}

.next{
    float:right;
}

.ne{
    text-align:right;
    margin-left:1375px;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #cac4cc;
  }